<h1 class="cover-heading">
  Weather for: <%= @weather.location.full %>
</h1>

<div class="container">
  <div class="row">
    <div class="col col-lg-5">
      <div class="row">
        <div class="col">
          <p class="h2"><%= %Q(#{@weather.current.temperature} ºC) %></p>
          <%= @weather.current.name %>
          <%= icon_for @weather.current.icon %>
        </div>
        <div class="col">
        </div>
      </p>
      </div>
    </div>
    <div class="col col-sm-1">
    </div>
    <div class="float-right col col-lg-5">
      <ul class="list-unstyled">
      <%= humidity_for @weather %>
      <%= visibility_for @weather %>
      <%= clouds_for @weather %>
      <%= temperatures_for @weather %>
      <%= wind_for @weather %>
      </ul>
    </div>
  </div>
</div>
<%= form_tag weather_search_path, class: "form-inline", remote: true  do %>
  <input id="complete" class="form-control w-75" placeholder="Berlin, Germany" type="text">
  <input name="locality" hidden>
  <input name="country_short" hidden>
  <%= submit_tag 'Get weather', class: 'btn btn-secondary' %>
<% end %>
